*, *::after, *::before {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  margin: 0;
  padding: 0;
}


body {
  background: linear-gradient(to right, #e66465, #9198e5);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.clock {
  width: 20em;
  height: 20em;
  background-color: rgb(225, 225, 225, 0.6);
  border-radius: 50%;
  border: 1px black solid;
  position: relative;
  .number {
    --degree: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px darkcyan solid;
    text-align: center;
    transform: rotate(var(--degree));
    font-size: 40px;
    .inner{
      transform: rotate(calc(360deg - var(--degree)));
    }
    &.number1{
      --degree: 30deg;
    }
    &.number2{
      --degree: 60deg;
    }
    &.number3{
      --degree: 90deg;
    }
    &.number4{
      --degree: 120deg;
    }
    &.number5{
      --degree: 150deg;
    }
    &.number6{
      --degree: 180deg;
    }
    &.number7{
      --degree: 210deg;
    }
    &.number8{
      --degree: 240deg;
    }
    &.number9{
      --degree: 270deg;
    }
    &.number10{
      --degree: 300deg;
    }
    &.number11{
      --degree: 330deg;
    }
  }
  .hand{
    --rotation: 30;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    &.hour{
      width: 4%;
      height: 40%;
      background-color: black;
      border: 1px white solid;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      z-index: 9;
    }
    &.minute{
      width: 2%;
      height: 42%;
      background-color: black;
      border: 1px white solid;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      z-index: 9;
    }
    &.second{
      width: 1%;
      height: 45%;
      background-color: red;
      border: 1px white solid;
      z-index: 10;
    }
  }
  &::after{
    position: absolute;
    content: '';
    width: 1em;
    height: 1em;
    background-color: black;
    border-radius: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    z-index: 11;
  }
}






//body{
//  background: linear-gradient(to right, #e66465, #9198e5);
//  font-size: 25px;
//  font-weight: bold;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  min-height: 100vh;
//  overflow: hidden;
//}
//
//.clock{
//  width: 20em;
//  height: 20em;
//  background-color: rgb(225, 225, 225, 0.6);
//  border-radius: 50%;
//  position: relative;
//  border: 1px darkcyan solid;
//  margin: auto auto;
//}
//
//.clock::after{
//  content: '';
//  position: absolute;
//  background-color: black;
//  z-index: 11;
//  width: 1em;
//  height: 1em;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  border-radius: 50%;
//}
//
//.clock .number{
//  --angle: 0;
//  width: 100%;
//  height: 100%;
//  position: absolute;
//  text-align: center;
//  transform: rotate(var(--angle));

//}
//
//.clock .hand{
//  --angle: 0;
//  position: absolute;
//  bottom: 50%;
//  left: 50%;
//  border: 1px solid white;
//  border-top-left-radius: 10px;
//  border-top-right-radius: 10px;
//  transform-origin: bottom;
//  transform: translateX(-50%) rotate(calc(var(--angle)*1deg));
//  &.hour {
//    --angle: 0;
//    width: 4%;
//    height: 40%;
//    background-color: black;
//    z-index: 10;
//  }
//  &.minute {
//    --angle: 30;
//    width: 2%;
//    height: 42%;
//    background-color: black;
//    z-index: 9;
//  }
//  &.second {
//    --angle: 40;
//    width: 1%;
//    height: 45%;
//    background-color: red;
//    z-index: 8;
//  }
//}
