*,*::after, *::before{
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
}

body{
  background: linear-gradient(to right, #e66465, #9198e5);
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.clock{
  width: 20em;
  height: 20em;
  background-color: rgb(225, 225, 225, 0.6);
  border-radius: 50%;
  position: relative;
  border: 1px darkcyan solid;
  margin: auto auto;
}

.clock .number{
  --angle: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  transform: rotate(var(--angle));
  &.number1{
    --angle: 30deg;
  }
  &.number2{
    --angle: 60deg;
  }
  &.number3{
    --angle: 90deg;
  }
  &.number4{
    --angle: 120deg;
  }
  &.number5{
    --angle: 150deg;
  }
  &.number6{
    --angle: 180deg;
  }
  &.number7{
    --angle: 210deg;
  }
  &.number8{
    --angle: 240deg;
  }
  &.number9{
    --angle: 270deg;
  }
  &.number10{
    --angle: 300deg;
  }
  &.number11{
    --angle: 330deg;
  }
}
